
/* font  */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.color{
    background-color: rgb(248, 248, 248);
}

/* shared styles  */

.display-flex{
    display: flex;
    align-items: center;
}

/* header styles */

/* navbar styles */
.nav-bar{
    max-width: 1160px;
    margin: 0 auto;
    justify-content: space-between;

}
.logo{
    gap: 11px;
}
.title{
    font-size: 2rem;
    font-weight: 700;
}

.nav-links{
    gap: 32px;
}
.nav-item{
    list-style: none;
}
.nav-link{
    color:black;
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 700;
}
.col1{
    color: orange;
}
.col2{
    color: skyblue;
}
.col3{
    color: #05D4DF;
}
.col4{
    color: #5D58EF;
}
.btn1{
    font-size: 1.25rem;
    font-weight: 600;
    width: 197px;
    height: 50px;
    padding: 10px 60px;
    background-color: orange;
    color: #FFFFFF;
    border: none;
    border-radius: 12px;
}
/* banner styles */
.banner{
    max-width: 1158px;
    margin: 0 auto;
    margin-top: 18px;
    gap: 50px;

}
.banner-title{
    font-size: 3.5rem;
    font-weight: 700;
}
.l1{
    color: orange;
}
.l2{
    color: black;
}
.l3{
    color: skyblue;
}
.banner-descripe{
    font-size: 1.25rem;
}
.btn2{
    font-size: 1rem;
    font-weight: 700;
    width: 197px;
    height: 50px;
    padding: 10px 41px;
    background-color: black;
    color: #FFFFFF;
    border: none;
    border-radius: 12px;
}
/* main styles */
/* curriculum styles */
.curriculum{
    max-width: 1160px;
    margin: 0 auto;
    text-align: center;
    margin-top: 51px;
    margin-bottom: 81px;
}
.heading2{
    font-size: 2.88rem;
    font-weight: 700;
    color: #000000;
}
.bg-img{
    background-image: url('../assets/bg.png');
    left:0 ;
    right: 0;
    top: 0;
    bottom: 0;

}
.standard{
    margin-top: 81px;
    gap: 28px;
}
.standard-card{
    text-align: center;
    background-image: linear-gradient(to bottom,#DEF5FF,white,white,white);
    padding-top:  66px;
    border-radius: 19px;
    border: none;
    
}
.card2{
    background-image: linear-gradient(to bottom,#FFF4DC,white,white,white);
}
.card3{
    background-image: linear-gradient(to bottom,#F2E8FF,white,white,white);
}

.card-img,.card-title,.card-descripe,.btn{
    margin-bottom: 33px;
}
.card-img{
    height: 136px;
    width: 136px;
}
.card-title{
    font-size: 1.5rem;
    font-weight: 700;
    color: #202020;
}
.card-descripe{
    padding-left: 32px;
    padding-right: 32px;
    font-size: .99rem;
    font-weight: 500;
    color: #808080;
}
.btn{
    font-size: .99rem;
    font-weight: 700;
    border: none;
    background-color: white;
}
.btn3{
    color: #64C8FF;
}
.btn4{
    color: #F0AA00;
}
.btn5{
    color: #8700FF;
}
.balls{
    gap: 10px;
    margin-top: 80px;
}
.ball{
    height: 60px;
    width: 60px;
    background-color: orange;
    color: #FFFFFF;
    border-radius: 50%;
    border: none;
    font-size: 1.5rem;
    font-weight: 600;
}

/* our storeis styles */
.display-grid{
    display: grid;
}
.stories{
    max-width: 1160px;
    margin: 0 auto;
    margin-bottom: 59px;
}
.color2{
    background-color:rgb(248, 248, 228);
}
.story-title{
    text-align: center;
    margin-bottom: 81px;
    font-size: 2.88rem;
    font-weight: 700;
}
.story-container{
    gap: 19px;
    display: flex;
    margin-bottom:89px ;
}
.story2-img,.story3-img,.story4-img,.story5-img{
    width: 291px;
    height: 177px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}
.story1-title{
    font-size: 1.5rem;
    font-weight: 700;
    padding-left: 39px;
    padding-right: 39px;
}
.story1-descripe{
    font-size: .99rem;
    font-weight: 500;
    color: #666666;
    padding: 47.93px 68.86px 34.52px 38.35px;
}
.story2-title,.story3-title,.story4-title,.story5-title{
    font-size: .99rem;
    font-weight: 700;
    padding-left: 39px;
    padding-right: 39px;
}
.card-1{
    width: 540px;
    height: 630px;
    border-radius: 16px;
    background-color: #FFFFFF;
}
.story1-img{
    width: 540px;
    height: 337px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}
.card-2{
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    width: 601px;
    height: 622px;
}
.story-2,.story-3,.story-4,.story-5{
    border-radius: 16px;
    background-color: #FFFFFF;
    width: 290px;
    height: 301px;
}
.bt1,.bt2,.bt3,.bt4,.bt5{
    font-size: .99rem;
    font-weight: 500;
    color: #FFFFFF;
    background-color: #95B226;
    width: 174px;
    height: 38px;
    border: none;
    border-radius: 47px;
    position: relative;
    left: 38.35px;
    top: -24px;
}
.bt1{
    background-color: #3CD8E8;
}
.bt3{
    background-color: #5D58F0;
}
.bt5{
    width: 127;
}
.center{
    text-align: center;
}

/* footer styles */
.footer{
    background-color:violet;
    height: 519px;
    display: flex;
    align-items: center;
}
.foot{
    justify-content:space-between;
    margin: 0 auto;
    height: 222px;
    max-width: 1130px;
    gap: 172px;
}
.kids{
    width: 399px;

}
.foot-logo{
    padding-bottom: 35px;
    gap: 11px;
}


.footer-title{
    font-size: 2.64rem;
    font-weight: 700;
    color: #FFFFFF;
}
.footer-descripe{
    font-size: 1.25rem;
    font-weight: 400;
    color: #FFFFFF;
}
.about{
    font-size: 1.5rem;
    font-weight: 700;
    color: #FFFFFF;
    padding-bottom: 32px;
}
.footer-links{
}
.foot-item{
    list-style: none;
    padding-bottom: 21px;

}
.foot-link{
    color: #FFFFFF;
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 500;
}
.foot-icon{
    gap: 10px;
}
.touch{
    padding-bottom:  141px;
}
.keep{
    font-size: 1.63rem;
    font-weight: 700;
    padding-bottom: 32px;
    color: #FFFFFF;
}


@media screen and (max-width:576px) {
    /* header responsive */
    .nav-bar{
        border: 0.5px solid orange;
        padding: 12px 16px;
    }
    .btn1,.title,.balls,.card-1{
        display: none;
    }
    .nav-links{
        gap: 21px;
    }
    .nav-link{
        font-size: .88rem;
    }

    .banner{
        flex-direction: column-reverse;
        width: 80%;
    }
    .banner-title{
        width: 100vw;
        text-align: center;
        padding: none;
        font-size: 2rem;
    }
    .heading{
        text-align: center;
    }
    .banner-descripe{
        font-size: .88rem;
        padding-left: 11px;
        padding-right: 11px;
        margin-left: 19px;
        margin-right: 19px;
    }
    .banner-profile{
        width: 100%;
    }
    /* curriculum responsive */
    .standard{
        margin-top: 20px;
        gap: 28px;
    }
    .heading2{
        font-size: 1.63rem;
    }
    .standard{
        flex-direction: column;
    }
    .standard-card{
        width: 90%;
    }
    
    /* stories styles */
    .story-2,.story-3,.story-4,.story-5{
        height: 179px;
        width: 173px;
        padding: none;
    }
    .card-2{
        grid-template-rows: .5fr;
        gap: 11px;
        width: 358px;
        height: 561px;
        margin: 0 auto;

    }
    .bt2,.bt3,.bt4,.bt5{
        font-size: .58rem;
        font-weight: 500;
        width: 103px;
        height: 22.83px;
        border: none;
        border-radius: 11px;
        position: relative;
        left: 22.35px;
        top: -12px;
    }
    .story-title{
        font-size: 1.63rem;
        margin-bottom: 21px;
    }
    .story2-title,.story3-title,.story4-title,.story5-title{
        font-size: .58rem;
        padding: 3px 23px 18px 23px;
    }
    .story2-img{
        width: 173px;
        height: 105px;
    }
    .story-container{
        margin-bottom: -145px;
    }
    

}
